<section>
<h2>Post Something</h2>
<form action="/create" method="post" enctype="multipart/form-data">
  Post picture<input type="file" name="file">
  <br />
  <input type="text" name="name"  placeholder="Pictue Name">
  <input type="submit" value="Save">
  <br /><hr/>
  Type something:<br/>
  <textarea name="content" id="" cols="40" rows="10"></textarea><br/>
  <input type="submit" value="Save"><hr/>

  <input type="submit" value="Submit">
</form>
</section>
